{% extends 'base.html.twig' %}

{% block body %}

    {{ user1.username}}
    {{ user2.username}}
    <table>
    {% for user in users %}
       <tr>

           <td>  {{ user.username }} </td><td>  {{ user.email }} </td><td>  {{ user.login }} </td><td>  {{ user.dateReg|date("m/d/Y") }} </td><td>  {{ user.password }} </td>

       </tr>
    {% endfor %}

    </table>



{% endblock %}
