{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>email</td>
            <td>login</td>
            <td>date</td>
            <td>password</td>
            <td>actions</td>

        </tr>

        </thead>

            <tr>

                <td>  {{ user.username }} </td>
                <td>  {{ user.email }} </td>
                <td>  {{ user.login }} </td>
                <td>  {{ user.dateReg|date("m/d/Y") }} </td>
                <td>  {{ user.password }} </td>
                <td><a href="/users/view?id={{ user.id }}"><span class="glyphicon glyphicon-eye-open"></span></a>

                    <a href="/users/edit?id={{ user.id }}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="/users/delete?id={{ user.id }}"><span class="glyphicon glyphicon-remove"></span></a></td>

            </tr>


    </table>



{% endblock %}
